.track-container {
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(170, 170, 170);
    width: 100%;
    padding-left: 1%;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: 5px 5px 10px #888888;
    border-radius: 5px;
    text-align: left;
}

.control-box {
    width:20%;
    height:100%;
    padding-left: 1%;
    border-right: 1px solid rgb(230, 230, 230);
    background-color: #dfdfdf;
}

.volume-controls {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.boxed {
    background-color: #d3d3d3;
    border: 1px solid rgb(173, 173, 173) ;
    width: 78%;
    /*width: 100%;*/
    /*height: 100px;*/
    margin-left: 0.5%;
    /*display: inline-block;*/
    border-radius: 3px;
}